@tailwind base;
@tailwind components;
@tailwind utilities;

.primaryBg{
  background-color:hsl(213, 96%, 18%) ;
}

.primaryBg:hover{
  background-color: hsl(243, 100%, 50%) ;
}

.sideBarBg{
  background-color: hsl(243, 100%, 50%) ;

}

body{
  background-color: #c4cdda;
  margin: 100px auto;
}
